{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title%}
{% block body %}
<body>
   
    <div class="col-md-6 offset-md-3">
      <h4 style="color:var(--accent-color)" class=" d-flex justify-align-center">Login</h1>
        <form method="POST" action="{% url 'login' %}" classs="mx-2">
            {% csrf_token %}
          <div class="mb-3 mt-3">
            <label for="text">Username:</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username" >
          </div>
    
          <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control"  name="password" placeholder="Enter password" >
          </div>
    
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
    
          </div>
         
          <button type="submit" class="btn btn-primary">Submit</button><br>
          <div>
            Not Registered ? 
            <b><a href="{% url "register" %}"> Sign Up</a></b>
          </div>
         
        </form>
      </div> 
    
</body>
{% endblock body %}